// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #14213D;
    color: #FCA311;
    text-align: center;
}
.post {
    border-radius: 20px;
    border: solid 1px #000000;
    width: 40%;
    margin: 20px auto;
    background-color: #E5E5E5;
    color: #000000;

    .date-auth {
        display: flex;
        justify-content: space-around;
    }
    .likes {
        color: #FCA311;
    }
    .tags {
        color: #FCA311;
        cursor: pointer;
    }
}